body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  padding: 40px;
}

.nav a {
  margin-right: 20px;
  color: #38bdf8;
  text-decoration: none;
}

.card-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #334155;
  padding: 10px;
  text-align: center;
}